@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    color-scheme: light dark;
  }

  body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      "SF Pro Text", "SF Pro Display", "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
    letter-spacing: -0.01em;
    line-height: 1.6;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }

  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(to right,
      #b06363,
      #cf4f4f) !important;
}